<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBL3_QuanLyDatXe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PBL3_QuanLyDatXe.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PBL3_QuanLyDatXe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        var userId = Context.Session.GetString("UserId");
                    }
                    @if (Context.Session.GetString("Role") == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link mr-3" asp-area="" asp-controller="Bus" asp-action="Index">Danh Sách xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-3" asp-area="" asp-controller="Customer" asp-action="Index">Quản Lý khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-3" asp-area="" asp-controller="Trip" asp-action="Index">Quản Lý chuyến</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-3" asp-area="" asp-controller="Line" asp-action="Index">Quản lý tuyến</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Revenue">Danh Sách xe</a>
                        </li>
                    }
                     else if (Context.Session.GetString("Role") == "customer") 
                     {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="SelectRoute">Đặt vé</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="ConfirmBooking">Hóa Đơn</a>
                        </li>
                    } 
                    @if (Context.Session.GetString("Role") == null)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Create">Đăng Ký</a>
                            </li>
                        </ul>
                    }
                    @if (Context.Session.GetString("Role") != null && !string.IsNullOrEmpty(userId))
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Đăng Xuất</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PBL3_QuanLyDatXe - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
