@model IEnumerable<PBL3_QuanLyDatXe.Models.Account>
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "_AdminLayout";
}

<div class="card">
    <div class="card-header bg-white">
    </div>
    <div class="card-body p-0">
        <table class="table table-striped table-hover mb-0">
            <thead class="bg-light">
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Vai trò</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ten</td>
                        <td>@item.role</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-warning">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
