<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
		/>
		<link rel="stylesheet" href="CSS/main.css" />
		<link rel="stylesheet" href="CSS/CheckTicket.css" />
		<link rel="stylesheet" href="CSS/ScheduleTable.css" />
		<title>DUT Bus Lines</title>
	</head>
	<body>
		<div class="topbar">
			<div class="left-section">
				<img src="Img/logo_header.jpg" id="logo" />
			</div>
			<div class="center-section">
				<h1 class="slogan">UY TÍN TẠO NÊN THƯƠNG HIỆU</h1>
			</div>
			<div class="right-section">
				<button class="btn-login">
					<i class="fa-regular fa-circle-user"></i>
					<a href="login-box.html">Đăng nhập/Đăng ký</a>
				</button>
			</div>
		</div>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="Home.html">Trang Chủ</a></li>
					<li><a href="LichTrinh.html">Lịch Trình</a></li>
					<li><a href="CheckTicket.html">Tra Cứu Vé</a></li>
					<li><a href="CheckBill.html">Hóa Đơn</a></li>
					<li><a href="#footer" class="scroll-link">Liên Hệ</a></li>
				</ul>
			</nav>
		</div>
		<div class="banner">
			<img src="Img/banner.jpg" class="banner-image" />
		</div>
		<div class="booking">
			<div class="trip-type">
				<label>
					<input type="radio" name="trip" class="radio-custom" checked />
					Một chiều
				</label>
				<label>
					<input type="radio" name="trip" class="radio-custom" />
					Khứ hồi
				</label>
			</div>
			<div class="search-box">
				<div class="form-group">
					<label class="name-item">Điểm đến</label>
					<select class="input-location">
						<option value="" disabled selected>Chọn điểm đến</option>
						<option value="Hà Nội">Hà Nội</option>
						<option value="TP.HCM">TP.HCM</option>
						<option value="Đà Nẵng">Đà Nẵng</option>
						<option value="Đà Lạt">Đà Lạt</option>
					</select>
				</div>
				<div class="form-group">
					<label class="name-item">Điểm đi</label>
					<select class="input-location">
						<option value="" disabled selected>Chọn điểm bắt đầu</option>
						<option value="Hà Nội">Hà Nội</option>
						<option value="TP.HCM">TP.HCM</option>
						<option value="Đà Nẵng">Đà Nẵng</option>
						<option value="Đà Lạt">Đà Lạt</option>
					</select>
				</div>
				<div class="form-group">
					<label class="name-item">Ngày đi</label>
					<input type="date" />
				</div>

				<button class="btn-submit">
					<i class="fa-solid fa-magnifying-glass"></i>Tìm chuyến
				</button>
			</div>
		</div>
		<div class="popular-trip">
			<div class="intro">
				<h1>Tuyến phổ biến</h1>
				<p>Những tuyến xe được khách hàng tin tưởng</p>
			</div>
			<div class="trip-container">
				<div class="box">
					<div class="route">
						<img src="Img/ĐN.png" name="ảnh" class="img-route" />
						<div class="text-overlay">
							<p class="route-from">Tuyến xe từ</p>
							<p class="route-city">Đà Nẵng</p>
						</div>
					</div>
					<div class="route-destination">
						<h3 class="destination">Hà Nội</h3>
						<p>791 km - 15 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">TP Hồ Chí Minh</h3>
						<p>961 km - 17 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">Đà Lạt</h3>
						<p>670 km - 13 giờ</p>
					</div>
				</div>
				<div class="box">
					<div class="route">
						<img src="Img/HN.jpg" name="ảnh" class="img-route" id="HN" />
						<div class="text-overlay">
							<p class="route-from">Tuyến xe từ</p>
							<p class="route-city">Hà Nội</p>
						</div>
					</div>
					<div class="route-destination">
						<h3 class="destination">Đà Nẵng</h3>
						<p>791 km - 15 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">Sapa (Lào Cai)</h3>
						<p>320 km - 6 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">Nghệ An</h3>
						<p>290 km - 7 giờ</p>
					</div>
				</div>
				<div class="box">
					<div class="route">
						<img src="Img/HCM.png" name="ảnh" class="img-route" />
						<div class="text-overlay">
							<p class="route-from">Tuyến xe từ</p>
							<p class="route-city">TP Hồ Chí Minh</p>
						</div>
					</div>
					<div class="route-destination">
						<h3 class="destination">Cần Thơ</h3>
						<p>169 km - 4 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">Cà Mau</h3>
						<p>350 km - 9 giờ</p>
					</div>
					<div class="route-destination">
						<h3 class="destination">Đà Lạt</h3>
						<p>300 km - 8 giờ</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer" id="footer">
			<img src="Img/logo_footer.png" id="logo-footer" />
			<div class="footer-contact">
				<div class="location">
					<h4><i class="fa-solid fa-location-dot" id="logo-address"></i> Địa Chỉ</h4>
					<p class="address">
						<i class="fa-regular fa-building"></i>
						Trụ sở: Số 97-99 Cao Sơn Pháo, phường Hòa An, quận Cẩm lệ, Thành phố Đà
						nẵng
					</p>
					<br />

					<p class="address">
						<i class="fa-regular fa-building"></i>
						Bến xe TT Đà nẵng: 148 Tôn Đức Thắng, phường Hòa Minh, quận Liên Chiểu,
						Thành phố Đà nẵng
					</p>
				</div>
				<div class="contact-section">
					<h4>Liên hệ</h4>

					<p class="contact">
						<i class="fa-solid fa-phone"></i>Tổng đài: 0236.376.76.79
					</p>
					<p class="contact">
						<i class="fa-solid fa-envelope"></i>: info@benxedanang.vn
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
