<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
		/>
		<link rel="stylesheet" href="CSS/main.css" />
		<title>Đăng Nhập/ Đăng ký</title>
	</head>
	<body>
        <body>
            <div class="topbar">
                <div class="left-section">
                    <img src="Img/logo_header.jpg" id="logo" />
                </div>
                <div class="center-section">
                    <h1 class="slogan">UY TÍN TẠO NÊN THƯƠNG HIỆU</h1>
                </div>
                <div class="right-section">
                    <button class="btn-login">
                        <i class="fa-regular fa-circle-user"></i>
                        <a href="login-box.html">Đăng nhập/Đăng ký</a>
                    </button>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="Home.html">Trang Chủ</a></li>
                        <li><a href="LichTrinh.html">Lịch Trình</a></li>
                        <li><a href="CheckTicket.html">Tra Cứu Vé</a></li>
                        <li><a href="CheckBill.html">Hóa Đơn</a></li>
                        <li><a href="#/footer" class="scroll-link">Liên Hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="box-container">
                <div class="login-box">
                    <input type="text" placeholder="Số điện thoại">
                    <input type="password" placeholder="Mật khẩu">
                    <button class="btn-login">Đăng Nhập</button>
                    <a href="#" class="forgot-password">Quên mật khẩu?</a>
                    <div class="divider">hoặc</div>
                    <a href="SignUp.html" class="btn-signup">Đăng ký</a>
                </div>
            </div>

            <div class="footer">
                <img src="Img/logo_footer.png" id="logo-footer" />
                <div class="footer-contact">
                    <div class="location">
                        <h4><i class="fa-solid fa-location-dot" id="logo-address"></i> Địa Chỉ</h4>
                        <p class="address">
                            <i class="fa-regular fa-building"></i>
                            Trụ sở: Số 97-99 Cao Sơn Pháo, phường Hòa An, quận Cẩm lệ, Thành phố Đà
                            nẵng
                        </p>
                        <br />
    
                        <p class="address">
                            <i class="fa-regular fa-building"></i>
                            Bến xe TT Đà nẵng: 148 Tôn Đức Thắng, phường Hòa Minh, quận Liên Chiểu,
                            Thành phố Đà nẵng
                        </p>
                    </div>
                    <div class="contact-section">
                        <h4>Liên hệ</h4>
    
                        <p class="contact">
                            <i class="fa-solid fa-phone"></i>Tổng đài: 0236.376.76.79
                        </p>
                        <p class="contact">
                            <i class="fa-solid fa-envelope"></i>: info@benxedanang.vn
                        </p>
                    </div>
                </div>
            </div>
    </body>
</html>
