@import url(footer.css);
@import url(header.css);
@import url(menu.css);
@import url(searchbox.css);
@import url(recommend.css);
@import url(login.css);
@import url(ScheduleTable.css);
@import url(CheckBill.css);
@import url(CheckTicket.css);
@import url(SignUp.css);
@import url(AdminHome.css);
@import url(Manage.css);
@import url(Admin.css);
@import url(BoxModel.css);
@import url(booking.css);
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}
